<a href="https://colab.research.google.com/github/kukretiaditya/100-days-of-machine-learning-/blob/main/Handling_date_%26_time_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('orders.csv')
time = pd.read_csv('messages.csv')

In [4]:
data.head(), time.head()

(         date  product_id  city_id  orders
 0  2019-12-10        5628       25       3
 1  2018-08-15        3646       14     157
 2  2018-10-23        1859       25       1
 3  2019-08-17        7292       25       1
 4  2019-01-06        4344       25       3,
                   date                                                msg
 0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
 1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
 2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
 3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
 4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше)

In [5]:
data.info(), time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

(None, None)

In [6]:
#converting to datetime datatye
data['date']= pd.to_datetime(data['date'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [11]:
#extract year from date
data.head()
data['data_year_extract'] = data['date'].dt.year
data.head()
data.sample(5)

          date  product_id  city_id  orders  data_year_extract
918 2018-09-01        2264       18       1               2018
530 2018-08-22        6007       27       1               2018
137 2019-03-14        2087       26       1               2019
601 2019-11-24        6592       25      12               2019
208 2019-06-24        3919        2      22               2019

In [12]:
#extract month
data['data_month_extract'] = data['date'].dt.month
data.head()

,date,product_id,city_id,orders,data_year_extract,data_month_extract
0,2019-12-10,5628,25,3,2019,12
1,2018-08-15,3646,14,157,2018,8
2,2018-10-23,1859,25,1,2018,10
3,2019-08-17,7292,25,1,2019,8
4,2019-01-06,4344,25,3,2019,1

In [14]:
#extract day
data['data_day_extract'] = data['date'].dt.day
data.head()

,date,product_id,city_id,orders,data_year_extract,data_month_extract,data_day_extract
0,2019-12-10,5628,25,3,2019,12,10
1,2018-08-15,3646,14,157,2018,8,15
2,2018-10-23,1859,25,1,2018,10,23
3,2019-08-17,7292,25,1,2019,8,17
4,2019-01-06,4344,25,3,2019,1,6

In [15]:
#day of week
data['date_dow'] = data['date'].dt.dayofweek
data.head()

,date,product_id,city_id,orders,data_year_extract,data_month_extract,data_day_extract,date_dow
0,2019-12-10,5628,25,3,2019,12,10,1
1,2018-08-15,3646,14,157,2018,8,15,2
2,2018-10-23,1859,25,1,2018,10,23,1
3,2019-08-17,7292,25,1,2019,8,17,5
4,2019-01-06,4344,25,3,2019,1,6,6

In [16]:
#day of week
data['date_day name '] = data['date'].dt.day_name()
data.head()

,date,product_id,city_id,orders,data_year_extract,data_month_extract,data_day_extract,date_dow,date_day name
0,2019-12-10,5628,25,3,2019,12,10,1,Tuesday
1,2018-08-15,3646,14,157,2018,8,15,2,Wednesday
2,2018-10-23,1859,25,1,2018,10,23,1,Tuesday
3,2019-08-17,7292,25,1,2019,8,17,5,Saturday
4,2019-01-06,4344,25,3,2019,1,6,6,Sunday

In [28]:
#week of the year
data['date_week'] = data['date'].dt.isocalendar().week
data.head()

,date,data_year_extract,data_month_extract,data_day_extract,date_dow,date_day name,date_is_weekend,date_week
0,2019-12-10,2019,12,10,1,Tuesday,0,50
1,2018-08-15,2018,8,15,2,Wednesday,0,33
2,2018-10-23,2018,10,23,1,Tuesday,0,43
3,2019-08-17,2019,8,17,5,Saturday,0,33
4,2019-01-06,2019,1,6,6,Sunday,0,1

In [30]:
#extract quarter
data['quarter'] = data['date'].dt.quarter
data['quarter']

0      4
1      3
2      4
3      3
4      1
      ..
995    4
996    4
997    2
998    1
999    4
Name: quarter, Length: 1000, dtype: int32

In [31]:
#extract semester
data['semester'] = np.where(data['quarter'].isin([1,2]),1,2)
data['semester']

0      2
1      2
2      2
3      2
4      1
      ..
995    2
996    2
997    1
998    1
999    2
Name: semester, Length: 1000, dtype: int64

In [32]:
#extract time between dates
import datetime
today = datetime.datetime.today()
today

datetime.datetime(2025, 4, 27, 13, 39, 12, 543170)

In [33]:
today - data['date']

0     1965 days 13:39:12.543170
1     2447 days 13:39:12.543170
2     2378 days 13:39:12.543170
3     2080 days 13:39:12.543170
4     2303 days 13:39:12.543170
                 ...
995   2393 days 13:39:12.543170
996   2334 days 13:39:12.543170
997   2182 days 13:39:12.543170
998   2247 days 13:39:12.543170
999   2021 days 13:39:12.543170
Name: date, Length: 1000, dtype: timedelta64[ns]

In [34]:
(today - data['date']).dt.days

0      1965
1      2447
2      2378
3      2080
4      2303
       ...
995    2393
996    2334
997    2182
998    2247
999    2021
Name: date, Length: 1000, dtype: int64

In [41]:
# passed
np.round((today - data['date']) / np.timedelta64(1, 'D') ,0)

0      1966.0
1      2448.0
2      2379.0
3      2081.0
4      2304.0
        ...
995    2394.0
996    2335.0
997    2183.0
998    2248.0
999    2022.0
Name: date, Length: 1000, dtype: float64

In [42]:
time

                    date                                                msg
0    2013-12-15 00:50:00                           ищу на сегодня мужика 37
1    2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2    2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3    2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4    2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше
..                   ...                                                ...
995  2012-03-16 00:50:00     ПАРЕНЬ СДЕЛАЕТ  МАССАЖ ЖЕНЩИНАМ -066-877-32-44
996  2014-01-23 23:14:00            сельский п 23 ищу девушку для отношений
997  2012-10-15 23:37:00  Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...
998  2012-06-21 23:34:00  7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14
999  2014-06-19 23:25:00          Парень поласкает девушке...  т.0662035584

[1000 rows x 2 columns]

In [43]:
#converting to datetime datatype
time['date'] = pd.to_datetime(time['date'])
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [44]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second
time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

In [45]:
#extract time part
time['time'] = time['date'].dt.time
time.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

In [46]:
#time diff
today - time['date']

0     4151 days 12:49:12.543170
1     4015 days 13:59:12.543170
2     4501 days 13:18:12.543170
3     3803 days 13:08:12.543170
4     4200 days 14:28:12.543170
                 ...
995   4790 days 12:49:12.543170
996   4111 days 14:25:12.543170
997   4576 days 14:02:12.543170
998   4692 days 14:05:12.543170
999   3964 days 14:14:12.543170
Name: date, Length: 1000, dtype: timedelta64[ns]

In [48]:
#in seconds
(today - time['date'])/np.timedelta64(1,'s')

0      3.586926e+08
1      3.469464e+08
2      3.889343e+08
3      3.286265e+08
4      3.629321e+08
           ...
995    4.139022e+08
996    3.552423e+08
997    3.954169e+08
998    4.054395e+08
999    3.425409e+08
Name: date, Length: 1000, dtype: float64

In [49]:
#in min
(today - time['date'])/np.timedelta64(1,'m')

0      5.978209e+06
1      5.782439e+06
2      6.482238e+06
3      5.477108e+06
4      6.048868e+06
           ...
995    6.898369e+06
996    5.920705e+06
997    6.590282e+06
998    6.757325e+06
999    5.709014e+06
Name: date, Length: 1000, dtype: float64

In [50]:
#in hours
(today - time['date'])/np.timedelta64(1,'h')

0       99636.820151
1       96373.986818
2      108037.303484
3       91285.136818
4      100814.470151
           ...
995    114972.820151
996     98678.420151
997    109838.036818
998    112622.086818
999     95150.236818
Name: date, Length: 1000, dtype: float64